//
// Color names provided by https://www.htmlcsscolor.com/.
//

$cadetBlue: #4aa3a3;
$darkSlateGrey: #224b4b;
$gallery: #dbd7d2;
$mediumAquamarine: #57e2b1;
$nightRider: #333;
$ziggurat: #87b5b5;
$zumthor: #c0d8d8;
