/** Window **/

.window__header {
  border: 1px solid;
  padding: 5px 10px;

  display: flex;
  align-items: center;
}

.window__icon {
  margin-right: 5px;
}

/*h2*/.window__title {
  margin: 0;

  font-size: 1rem;
  font-weight: normal;
}

/*button*/.window__button {
  border: 0;
  padding: 0;
  color: inherit;
  background-color: inherit;

  margin-left: auto;
}

.window__button:hover {
  cursor: pointer;
}

.window__body {
  border: 1px solid;
  border-top-width: 0;

  display: flex;
  flex-direction: column;
}

.window--maximized .window__frame {
  background-color: mistyrose;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  padding: 10px;
}

.window--maximized .window__frame {
  display: flex;
  flex-direction: column;
}

.window--maximized .window__body {
  flex-grow: 1;
}

/** Editor **/

/*textarea*/.editor {
  margin: 0;
  border: 0;

  padding: 10px;
  font-size: 1rem;
  line-height: 1.25;

  resize: vertical;
}
