@import url('https://fonts.googleapis.com/css?family=Russo+One');

/** Window **/

.window__frame {
  background-color: mistyrose;
}

.window__header {
  border: 1px solid;
  padding: 5px 10px;

  display: flex;
  align-items: center;
}

.window__icon {
  margin-right: 5px;
}

/*h2*/.window__title {
  margin: 0;

  font-size: 1rem;
  font-weight: normal;
}

/*button*/.window__button {
  border: 0;
  padding: 0;
  color: inherit;
  background-color: inherit;

  margin-left: auto;
}

.window__button:hover {
  cursor: pointer;
}

.window__body {
  border: 1px solid;
  border-top-width: 0;

  display: flex;
  flex-direction: column;

  overflow: auto;
  overflow-wrap: break-word;
}

.window__content {
  flex-grow: 1;
}

.window--maximized .window__frame {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  padding: 10px;
}

.window--maximized .window__frame {
  display: flex;
  flex-direction: column;
}

.window--maximized .window__body {
  flex-grow: 1;
}

/** Editor **/

/*textarea*/.editor {
  margin: 0;
  border: 0;

  padding: 10px;
  font-size: 1rem;
  line-height: 1.25;

  resize: vertical;
}

.editor--locked {
  resize: none;
}

/** Previewer **/

.previewer {
  padding: 10px;
}

.previewer__html blockquote {
  margin-left: 25px;
  border-left: 3px solid #224b4b;
  padding-left: 5px;
  color: #224b4b;
}

.previewer__html code {
  padding: 1px 4px 2px 4px;
  font-size: 12px;
  font-weight: bold;
  background: white;
}

.previewer__html pre {
  padding: 5px 0 5px 5px;
  background: white;
}

.previewer__html h1 {
  border-bottom: 2px solid #224b4b;
}

.previewer__html h2 {
  border-bottom: 1px solid #224b4b;
}

.previewer__html table {
  border-collapse: collapse;
}

.previewer__html td,
.previewer__html th {
  border: 2px solid #224b4b;
  padding-left: 5px;
  padding-right: 5px;
}

/** Theme **/

.window--theme--forest .window__frame {
  background-color: #87b5b5;
}

.window--theme--forest .window__header {
  border-color: #333;
  background-color: #4aa3a3;
}

.window--theme--forest .window__title {
  font-family: "Russo One";
  font-size: 0.95rem;
}

.window--theme--forest .window__button:hover {
  color: #57e2b1;
}

.window--theme--forest .window__body {
  border-color: #333;
}

.window--theme--forest .window__content {
  min-height: 330px;
}

.window--theme--forest.window--maximized .window__content {
  min-height: initial;
}

.editor--theme--forest {
  background-color: #c0d8d8;
}

.previewer--theme--forest {
  background-color: #c0d8d8;
}
