@import url('https://fonts.googleapis.com/css?family=Russo+One');

/** Structure **/

.window {}

.window__frame {}

.window__header {
  display: flex;
  align-items: center;
  border: 1px solid;
  padding: 5px 10px;
}

/* Add a little space between the icon and the title. */
.window__icon {
  margin-right: 5px;
}

/* Remove the browser's default styles. */
/*h1*/.window__title {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}

/* Push it to the far right. */
.window__resizer {
  margin-left: auto;
}

.window__resizer:hover {
  cursor: pointer;
}

.window__body {
  border: 1px solid;
  border-top: none;
  overflow: auto;
}

.window__body--empty {
  border-width: 0;
}

/** Fullscreen **/

.window--fullscreen::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.window--fullscreen .window__frame {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 10px;
}

.window--fullscreen .window__body {
  flex-grow: 1;
}

.window--fullscreen .window__body--empty {
  border-width: 1px;
}

/** Theme **/

.window--default .window__header {
  border-color: #333;
  background-color: #4aa3a3;
}

.window--default .window__title {
  font-family: "Russo One";
  font-size: 0.95rem;
}

.window--default .window__resizer:hover {
  color: #57e2b1;
}

.window--default .window__body {
  border-color: #333;
}

.window--default.window--fullscreen::before {
  background-color: #87b5b5;
}
